@import url("./../global_css/variables.css");
@import url("./../global_css/reset.css");
@import url("./../global_css/global.css");

header {
  width: 100%;
  padding: 28px 8%;
}

.btn-default {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid var(--MAIN_PINK);
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid var(--MAIN_PINK);
}

#navbar img {
  width: 2rem;
  height: 2rem;
}

.nav-list {
  display: flex;
  gap: 48px;
}
