@import url("./../global_css/variables.css");
@import url("./../global_css/reset.css");
@import url("./../global_css/global.css");

main {
  margin: 8%;
}

/* top main */

.container-top-main {
  display: flex;
  justify-content: space-between;
}

main img {
  width: 31rem;
}

h1 {
  font-size: 3rem;
  font-variant: small-caps;
  color: var(--MAIN_BLUE);
}

.text-main-container {
  width: 31rem;
  height: 31rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-container button:first-child {
  margin-right: 2.5rem;
}

/* main center */

.about-me {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 31rem;
  height: 31rem;
}

.about-me-text h2 {
  font-variant: small-caps;
  font-size: 3rem;
  font-family: var(--SECOND_FONT);
  color: var(--MAIN_BLUE);
}

.about-me-text p {
  font-size: 1.5rem;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44rem;
  height: 31rem;
  background-color: var(--SECOND_PINK);
}

.container-btn {
  align-self: center;
}

/* tools skills */

.tools-skills {
  background-color: var(--BACKGROUND_BLUE);
  padding: 5rem 0;
  margin-top: 10rem;
}

.container-divs-skills {
  margin: 0 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills {
  background-color: var(--MAIN_BLUE);
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.skills img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  display: block;
}
